.games-stadium img{
    width: 100%;
    height: 50%;
}

.guide-map{

    h4{
        text-align: center;
        font-weight: 300;
    }

    img{
        width: 100%;
        height: 10%;
    }
   
}

.separator{
    text-align: center;
    margin: -100px;
}


.fase-grups{
    position: absolute;
    text-align: center;
    top: 15%;
    left: -25%;
    img{
        width: 8%;
        margin: 10px;
    }
    p{
        font-size: 30px;
        font-weight: 200;
        color: #ffffff;
    }
}

.fase-grupsb{
    position: absolute;
    text-align: center;
    top: 60%;
    left: -25%;
    img{
        width: 8%;
        margin: 10px;
    }
    p{
        font-size: 30px;
        color: #ffffff;
        font-weight: 200;
    }
}

.fase-grupsc{
    position: absolute;
    text-align: center;
    top: 90%;
    left: -25%;
    img{
        width: 8%;
        margin: 10px;
    }
    p{
        font-size: 30px;
        color: #ffffff;
        font-weight: 200;
    }
}


.icons-pais{
    display: flex;
    justify-content: center;
}



/* Footer */

footer{
    background-color: #ffffff;
    padding: 10px;

    h4{
      text-align: center;
      font-weight: 300;
    }
}

